<div class="container-fluid">
    <div class="row">
        <!-- col -->
        <div class="col s12 l7">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title">Number of Registered Candidates Across the Six Geopolitical Zones</h5>
                    <div class="net-income m-t-30" style="height:557px; position: relative;"></div>
                    <ul class="list-inline center-align">
                        <li><i class="fa fa-circle blue-text text-accent-4"></i>Total Number of Candidate</li>
                    </ul>
                </div>
            </div>
        </div>

                    <div class="col s12 l5">
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <div class="card warning-gradient card-hover">
                                    <div class="card-content">
                                        <a href="/admin_fg_dashboard_brf/shortlisted_candidate"><h5 class="card-title  white-text">Shortlisted Candidate</h5></a>
                                        <p class="m-b-5"><span style="color:white">Male <span class="right">42</span></span></p>
                                        <p><span style="color:white">Female <span class="right">48</span></span></p>
                                        <p><span style="color:white">Total <span class="right"><strong style="font-size:18px; color:white">90</strong></span></span></p>
                                        
                                    </div>
                                    <div id="revenue" style="height:75px; width:100%;"></div>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <div class="card primary-gradient card-hover">
                                    <div class="card-content">
                                        <h5 class="card-title white-text">Applicants</h5>
                                        <p class="m-b-5"><span style="color:white">Male<span class="right">12355</span></span></p>
                                        <p><span style="color:white">Female<span class="right">14570</span></span></p>
                                        <p><span style="color:white">Total<span class="right"><strong style="font-size:18px;">26825</strong></span></span></p>
                                    </div>
                                    <div class="center-align">
                                        <div id="visits"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- North-Central, North-West, North-East, South-South, South-East and South-West.  -->
                            <div class="col s12 m6 l6">
                                <div class="card primary-gradient card-hover">
                                    <div class="card-content">
                                        <h5 class="card-title white-text">Applicants (6) Geopolitical Zones</h5>
                                        <p class="m-b-5"><span style="color:white">North-Central<span class="right">1255</span></span></p>
                                        <p><span style="color:white">North-West<span class="right">1370</span></span></p>
                                        <p class="m-b-5"><span style="color:white">North-East<span class="right">1155</span></span></p>
                                        <p><span style="color:white">South-South<span class="right">1370</span></span></p>
                                        <p class="m-b-5"><span style="color:white">South-East<span class="right">1355</span></span></p>
                                        <p><span style="color:white">South-West<span class="right">1470</span></span></p>
                                        <p><span style="color:white">Total<span class="right"><strong style="font-size:18px;">144470</strong></span></span></p>

                                    </div>
                                    <div class="center-align">
                                        <div id="visits"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <div class="card primary-gradient card-hover">
                                    <div class="card-content">
                                        <h5 class="card-title white-text">Selected Applicants (6) Geopolitical Zones</h5>
                                        <p class="m-b-5"><span style="color:white">North-Central<span class="right">16</span></span></p>
                                        <p><span style="color:white">North-West<span class="right">16</span></span></p>
                                        <p class="m-b-5"><span style="color:white">North-East<span class="right">16</span></span></p>
                                        <p><span style="color:white">South-South<span class="right">16</span></span></p>
                                        <p class="m-b-5"><span style="color:white">South-East<span class="right">16</span></span></p>
                                        <p><span style="color:white">South-West<span class="right">16</span></span></p>
                                        <p><span style="color:white">Total<span class="right"><strong style="font-size:18px;">96</strong></span></span></p>
                                    </div>
                                    <div class="center-align">
                                        <div id="visits"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <div class="card success-gradient card-hover">
                                    <div class="card-content">
                                        <h5 class="card-title  white-text">Update Page Content</h5>
                                        <ul class="m-t-15">
                                            <li>
                                                <div class="d-flex no-block align-items-center">
                                                    <div>
                                                        <span style="color:white">Home Page</span>
                                                    </div>
                                                    
                                                   
                                                </div>
                                               
                                            </li>
                                            <li>
                                                <div class="d-flex no-block align-items-center">
                                                    <div>
                                                        <span style="color:white">About Us Page</span>
                                                    </div>
                                                    
                                                   
                                                </div>
                                               
                                            </li>
                                            <li>
                                                <div class="d-flex no-block align-items-center">
                                                    <div>
                                                        <span style="color:white">Announcement Page</span>
                                                    </div>
                                                    
                                                   
                                                </div>
                                               
                                            </li>
                                            <li>
                                                <div class="d-flex no-block align-items-center">
                                                    <div>
                                                        <span style="color:white">Carousel Texts</span>
                                                    </div>
                                                    
                                                   
                                                </div>
                                               
                                            </li>
                                            <li>
                                                <div class="d-flex no-block align-items-center">
                                                    <div>
                                                        <span style="color:white">Contact Details</span>
                                                    </div>
                                                    
                                                   
                                                </div>
                                               
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <div class="card success-gradient card-hover">
                                    <div class="card-content">
                                        <h5 class="card-title  white-text">Messages</h5>
                                        <ul class="m-t-15">
                                            <li>
                                                <div class="d-flex no-block align-items-center">
                                                    <div>
                                                        <span style="color:white; font-size:10px;">BroadCast message to Staffs</span>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </li>
                                            <li>
                                                <div class="d-flex no-block align-items-center">
                                                    <div>
                                                        <span style="color:white; font-size:10px;">Broadcast message to Candidates</span>
                                                    </div>
                                                    
                                                </div>
                                              
                                            </li>
                                            <li>
                                                <div class="d-flex no-block align-items-center">
                                                    <div>
                                                        <span style="color:white; font-size:10px;">Broadcast message to Non-selected Candidates</span>
                                                    </div>
                                                    
                                                </div>
                                              
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                           
                            
                        </div>
                    </div>  
                    
                    
              
                    <!-- col -->

                </div>
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- col -->
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <!-- title -->
                                <div class="d-flex align-items-center">
                                    <div>
                                        <h5 class="card-title">List of All Eligible Candidates</h5>
                                        <h6 class="card-subtitle">First Batch</h6>
                                    </div>
                             
                                </div>
                                <!-- title -->
                                <div class="table-responsive">
                                    <table class="">
                                        <thead>
                                            <tr>
                                                <th>full Name</th>
                                                <th>Age</th>
                                                <th>Geopolitical Zone</th>
                                                <th>State of Origin</th>
                                                <th>Score</th>
                                                <th>Year of NYSC</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="d-flex no-block align-items-center">
                                                        <div class="m-r-10"><img src="/admin/assets/images/users/d1.jpg" alt="user" class="circle" width="45" /></div>
                                                        <div class="">
                                                       <a href="app-contact-detail.html"> <h5 class="m-b-0 font-16 font-medium">Abimbola Blessing</h5><span></a>
                                                    </div>
                                                </td>
                                                <td>23</td>
                                                <td>
                                                    North Central
                                                </td>
                                                <td>Niger State</td>
                                                <td>95/100</td>
                                                <td class="blue-grey-text  text-darken-4 font-medium">2016</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex no-block align-items-center">
                                                        <div class="m-r-10"><img src="/admin/assets/images/users/d1.jpg" alt="user" class="circle" width="45" /></div>
                                                        <div class="">
                                                            <a href="app-contact-detail.html">  <h5 class="m-b-0 font-16 font-medium">Ngozi Chukwuma</h5><span></a>
                                                    </div>
                                                </td>
                                                <td>23</td>
                                                <td>
                                                    South East
                                                </td>
                                                <td>Enugu</td>
                                                <td>94/100</td>
                                                <td class="blue-grey-text  text-darken-4 font-medium">2017</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex no-block align-items-center">
                                                        <div class="m-r-10"><img src="/admin/assets/images/users/d1.jpg" alt="user" class="circle" width="45" /></div>
                                                        <div class="">
                                                            <a href="app-contact-detail.html"><h5 class="m-b-0 font-16 font-medium">Mustapha Abubakar</h5><span></a>
                                                    </div>
                                                </td>
                                                <td>23</td>
                                                <td>
                                                    North East
                                                </td>
                                                <td>Borno</td>
                                                <td>92/100</td>
                                                <td class="blue-grey-text  text-darken-4 font-medium">2016</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex no-block align-items-center">
                                                        <div class="m-r-10"><img src="/admin/assets/images/users/d1.jpg" alt="user" class="circle" width="45" /></div>
                                                        <div class="">
                                                            <a href="app-contact-detail.html"><h5 class="m-b-0 font-16 font-medium">Yinka Hassan</h5><span></a>
                                                    </div>
                                                </td>
                                                <td>23</td>
                                                <td>
                                                    South West
                                                </td>
                                                <td>Osun</td>
                                                <td>97/100</td>
                                                <td class="blue-grey-text  text-darken-4 font-medium">2016</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex no-block align-items-center">
                                                        <div class="m-r-10"><img src="/admin/assets/images/users/d1.jpg" alt="user" class="circle" width="45" /></div>
                                                        <div class="">
                                                            <a href="app-contact-detail.html"><h5 class="m-b-0 font-16 font-medium">Paul Chibuike</h5><span></a>
                                                    </div>
                                                </td>
                                                <td>23</td>
                                                <td>
                                                    South South
                                                </td>
                                                <td>Akwa Ibom</td>
                                                <td>95/100</td>
                                                <td class="blue-grey-text  text-darken-4 font-medium">2016</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex no-block align-items-center">
                                                        <div class="m-r-10"><img src="/admin/assets/images/users/d1.jpg" alt="user" class="circle" width="45" /></div>
                                                        <div class="">
                                                            <a href="app-contact-detail.html">  <h5 class="m-b-0 font-16 font-medium">Abimbola Blessing</h5><span></a>
                                                            
                                                    </div>
                                                </td>
                                                <td>23</td>
                                                <td>
                                                    North Central
                                                </td>
                                                <td>Niger State</td>
                                                <td>95/100</td>
                                                <td class="blue-grey-text  text-darken-4 font-medium">2016</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Devices - Income - Sales -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- col -->
                    <div class="col s12 l6">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="card-title">Gender of ShortListed Candidates</h5>
                                <div id="visitor" style="height:267px; width:100%;" class="m-t-20"></div>
                                <ul class="list-inline center-align">
                                    <li><i class="fa fa-circle blue-text"></i> Male</li>
                                    <li><i class="fa fa-circle blue-text text-accent-4"></i> Female</li>
                                 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col s12 l6">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="card-title">Candidates Performance Across the 6 Geopolitical Zones</h5>
                                <div id="visitor2" style="height:267px; width:100%;" class="m-t-20"></div>
                                <ul class="list-inline center-align">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- Projects of the month -->
                <!-- ============================================================== -->
</div>