<!DOCTYPE html>
<html>


<!-- Mirrored from www.wrappixel.com/demos/admin-templates/materialart/html/mini-sidebar/authentication-login1.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 05:36:16 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/assets/images/favicon.png">
    <title>BRF Internship Admin Portal</title>
    <link href="/admin/dist/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/admin/dist/css/pages/authentication.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/admin/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="/admin/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="notice_wrapper">		  	
	<p class="alert">{{{message.error}}}{{{message.success}}}</p>				
</div>
    <div class="main-wrapper">
    
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Material Admin</p>
            </div>
        </div>

        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/admin/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="/admin/assets/images/logo-icon.png" alt="logo" /></span>
                        <h5 class="font-medium m-b-20">Sign In to Admin</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <form class="col s12" action="/admin_fg_dashboard_brf/login" method="POST">
                            <!-- email -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" name="email" type="email" class="validate" readonly onfocus="this.removeAttribute('readonly');"  required>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" name="password" type="password" class="validate" readonly onfocus="this.removeAttribute('readonly');" required>
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-5">
                                <div class="col s7">
                                    <label>
                                        <input type="checkbox" />
                                        <span>Remember Me?</span>
                                    </label>
                                </div>
                                <div class="col s5 right-align"><a href="/admin_fg_dashboard_brf/forgot_password" class="link" id="to-recover">Forgot Pwd?</a></div>
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-40">
                                <div class="col s12">
                                    <button class="btn-large w100 blue accent-4" type="submit">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                  
                </div>

                


            </div>
        </div>
       
    </div>
   
    <script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/admin/dist/js/materialize.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('.tooltipped').tooltip();
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
    $(function() {
        $(".preloader").fadeOut();
    });
    </script>
    <script>
  $(document).ready(function(){
			setTimeout(function(){
    	$('.notice_wrapper').slideUp('slow', function(){
        	$(this).remove();
          })
        }, 2000);
	
});
</script>
</body>
</html>