

<!DOCTYPE html>
<html lang="en">

    
<!-- Mirrored from myrathemes.com/xeloro/layouts/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Feb 2020 12:12:48 GMT -->
<head>
        <meta charset="utf-8" />
        <title>Candidate Dashboard Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="MyraStudio" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/candidate/assets/images/favicon.ico">

        <!-- App css -->
        <link href="/candidate/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/candidate/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/candidate/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
       
    </head>

    <body>

        <!-- Begin page -->
        <div id="layout-wrapper">

            <div class="main-content">

                <header id="page-topbar">
                    <div class="navbar-header">
                        <!-- LOGO -->
                        <div class="navbar-brand-box d-flex align-items-left">
                            <a href="index.html" class="logo">
                                <i class="mdi mdi-album"></i>
                                <span>
                                   BRF
                                </span>
                            </a>

                            <button type="button" class="btn btn-sm mr-2 font-size-16 d-lg-none header-item waves-effect waves-light" data-toggle="collapse" data-target="#topnav-menu-content">
                                <i class="fa fa-fw fa-bars"></i>
                            </button>
                        </div>
        
                        <div class="d-flex align-items-center">
                            <a href="/logout"><span>Logout</span></a>
        
                       


              
                            
                        </div>
                    </div>
                </header>
   {{{body}}}
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center text-lg-left">
                                    2020 © BRF.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right d-none d-lg-block">
                                    Design & Develop by Mabto Strong
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


        <!-- jQuery  -->
        <script src="/candidate/assets/js/jquery.min.js"></script>
        <script src="/candidate/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/candidate/assets/js/waves.js"></script>
        <script src="/candidate/assets/js/simplebar.min.js"></script>

        <!-- Sparkline Js-->
        <script src="/candidate/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

        <!-- Chart Js-->
        <script src="/candidate/assets/plugins/jquery-knob/jquery.knob.min.js"></script>

        <!-- Chart Custom Js-->
         <script src="/candidate/assets/pages/knob-chart-demo.js"></script>

        <!-- Morris Js-->
        <script src="/candidate/assets/plugins/morris-js/morris.min.js"></script>

        <!-- Raphael Js-->
        <script src="/candidate/assets/plugins/raphael/raphael.min.js"></script>

        <!-- Custom Js -->
        <script src="/candidate/assets/pages/dashboard-demo.js"></script>

        <!-- App js -->
        <script src="/candidate/assets/js/theme.js"></script>

    </body>

</html>