<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-details-wrap mr-40">
                    <div class="blog-details-top">
                        <img src="/home/assets/img/blog/blog-details.jpg" alt="">
                        <div class="blog-details-content-wrap">
                            <div class="b-details-meta-wrap">
                                <span>Departments</span>
                            </div>
                            <h1 style="color:#00a651">Common Service Department</h1>
                            <h3>Reform Coordination and Service Improvement (RCSI)</h3>
                            <p>The department was created to deepen the on-going reform process in the Service. It has two divisions: Reform Coordination and Servicom. The department serves as a focal point for driving all change, reform, innovation and improvement efforts within the Ministry in line with the overall framework set by the Bureau of Public Service Reforms, Office of the Head of Civil Service of the Federation and other agencies of Government.</p>

                            <h3>Human Resource Management(HRM)</h3>
                            <p>The department is charged with the responsibility of providing the required human resource and support services to the line departments with the key mandate to enhance the welfare and professional development of members of staff of the Ministry. It has four divisions:
                                <ol>
                                <li> Appointment, Promotion and Discipline</li>
                               <li>Training and Staff Welfare</li>
                               <li> General Administration</li>
                                <li> Field Offices Coordination</li>
                                </ol>
                            </p>

                             <h3>Finance and Accounts(F & A)</h3>
                            <p>The department is statutorily empowered by the constitution of the Federal Republic of Nigeria 1999 and Financial Regulations as revised to manage the finances of the ministry and maintain accurate accounting records.
                            </p>

                            <h3>Planning, Research and Statistics (PRS)</h3>
                            <p>This is the hub of activities and the official reporter of the ministry. It has four divisions:
                                <ol>
                                <li>Planning / Policy Analysis</li>
                               <li>Research and Statistics</li>
                               <li>Monitoring and Evaluation</li>
                                <li>Information and communication Technology</li>
                                </ol>
                            </p>

                             <h3>Public Procurement (PP)</h3>
                            <p>This department establishes a service delivery system that imbibes hard work, monitoring and consistent fairness in the ministry’s procurement process. It is statutorily positioned to superintend the procurement of goods, works and services for departments/units in order to realize the ministry’s mandate. It has three branches:
                                <ol>
                                <li>Capital and MTB</li>
                               <li>Recurrent</li>
                               <li>Monitoring and Compliance</li>
                              
                                </ol>
                            </p>

                              <h3>Internal Audit (IA) </h3>
                            <p>The department is responsible for the comprehensive, complete and continuous audit of the accounts and records of revenue and expenditure, assets, allocated and unallocated stores. Its mandate also includes System and Forensic audit.
                            </p>

        <h1 style="color:#00a651; margin-top:20px; margin-bottom:20px;">Technical Departments (works sector)</h1>
        <h3>Highways Planning and Development (HPD)</h3>
        <p>This department has the responsibility of planning and development of all existing Federal Road network as well as providing capacity build8ing for workers in the road industry.
</p>
<h3>Highways Bridges and Design (HB&D)</h3>
        <p>The department is strategic in the fulfillment of the mandate of the Ministry in view of the importance of Bridge in road construction. The department plans, designs, construct, rehabilitate, maintain and manage all bridges along the Federal Highway Network in the country and to ensure adequate drainage of the highways.</p>

<h3>Highways Material, Geo-technics and Quality Control (HMG&QC)</h3>
        <p>This department ensures the use of good quality materials and workmanship on all Federal Highway projects, thereby eliminating premature failures and ensuring the delivery of enduring Highway pavements for the benefit of the road user.
</p>

 <h3>Highways Construction and Rehabilitation (HC&R)</h3>
    <p>The department is saddled with the following responsibilities:

        <ol>
        <li>Management of road networks in all states across the Federation to ensure optimal level of service.</li>
        <li>Check progress of road works both physically and financially.</li>
        <li>Vet interim statements and issue Engineer’s Certificate.</li>
        <li>Vet proposals for variations and augmentation of contracts for the consideration of the Honourable Minister.</li>
        <li>General admini8stration of projects across the Federation.</li>
        </ol>
    </p>

<h1 style="color:#00a651; margin-top:20px; margin-bottom:20px;">Technical Departments (housing sector)</h1>
<h3>Lands and Housing Development (L&H)</h3>
<p>The department ensures an efficient and effective administration of land for sustainable housing delivery and urban management. It also promotes the development of a robust primary and secondary mortgage financial industry in Nigeria in partnership with the private sector and dealing with matters relating to the operations of the National Housing Fund.</p>

<h3>Urban and Regional |Development (URD)</h3>
<p>It is saddled with the responsibility of formulation, promotion and implementation of policies, programmes and projects on sustainable human settlements development in the country. Its mandate is to promote and encourage comprehensive growth and development of human settlements so as to reduce regional imbalances, promote equity and ensure sustainable urbanization.</p>

<h3>Public Building and Housing Development (PBHD)</h3>
<p>It plays a pivotal role in the production and delivery of affordable and sustainable mass housing delivery programmes to cater for the shelter needs of the populace and construction and maintenance of public buildings and monuments. It was established to provide efficient and cost effective professional leadership in planning, design, construction and maintenance of Federal Government Public Buildings and Housing nationwide.
</p>

<h3>Engineering Services (ES)</h3>
<p>This department provides functional, cost effective and sustainable engineering infrastructure in public buildings and housing for conducive working and living environment. It coordinates the activities of the Electrical and Mechanical Engineering training schools in Lagos, Abeokuta and Kuje. It also handles rehabilitation works in the ministry and State Field Headquarters.</p>
  
  

  
<h1 style="color:#00a651; margin-top:20px; margin-bottom:20px;">Common Services Unit</h1>
<h3>Public Private Partnership (PPP)</h3>
<p>This unit is responsible for anchoring and creating enabling environment for viable and strategic partnership with the private sector to achieve the ministry’s mandate for providing decent and affordable housing delivery for Nigerians and facilitating the provision of highway infrastructure (roads, bridges, weighbridges etc.) through private sector-driven initiative.</p>

<h3>Legal Services (LS)</h3>
<p>It provides an effective legal reference point for all clients of the Ministry.
     <ol>
        <li>Handling all matters concerning anti-corruption and transparency in the ministry.</li>
        <li>Ensuring that government business (in matters of procurement, recruitment, promotion etc.) is carried out in free and fair manner.</li>
        <li>Litigation on behalf of the ministry in cases arising from breach of contract, land acquisition and non-payment or inadequate payment of compensation, unfair dismissal from work, unlawful eviction from Government quarters etc.</li>
        <li>Proffering of legal opinion or advice on matter affecting the interest of the ministry and other matters that may be referred to it by the Honourable Minister and / or Permanent Secretary.</li>
      
        </ol>
</p>

<h3>Media and Press Unit</h3>
<p>This unit provides and delivers information on the activities of the ministry. It effectively supervises well-articulated knowledge-based dissemination of information of the ministry’s activities. It ensures the delivery of full accurate and prompt information on the activities of the ministry.
</p>

<h3>Anti-Corruption and Transparency Unit (ACTU)</h3>
<p>This unit is responsible for the following:
<ol>
        <li>Drafting and vetting of contract documents from the various departments of the ministry.</li>
        <li>Vetting of all files pertaining to land by the Ministry.</li>
        <li>Liaising with ICPC, EFCC in related matters.</li>
        </ol>
</p>
<h3>Special Projects Unit (SPU)</h3>
<p>This unit implements the SDGs projects and programmes as well as constituency and zonal intervention projects towards the actualization of the SDG goals. These projects are aimed at alleviating and providing succor from the ravages of poverty within the core rural communities of the nation and they cut across various sectors of the economy. It is important to note that most of these projects are domiciled in the ministry by the National Assembly (Senate and House of Representatives).</p>
  
                </div>
                    </div>
                   





                   
                </div>
            </div>
           
           
           
           
           
           
           


        </div>
    </div>
</div>
