<div class="row">
<div class="col-xl-2"></div>
<div class="col-xl-8" style="margin-top:50px; margin-bottom:100px;">
     <h2>Complete Your Profile by Filling The Form</h2>
    <div class="card" style="margin-top:50px;">
        <div class="card-body">
           
            <form method="POST" action="/complete_profile">
            
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Tell Us about yourself</label>
                    <textarea required name="about_yourself" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Tell Us Why You are the best person for BRF</label>
                    <textarea required name="best_for_brf" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Work Experience(if Any)</label>
                    <textarea required name="work_experience" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
               

                  <button type="submit" class="btn btn-primary btn-block  px-4">Complete Profile</button>
            </form>
        </div>
        <!-- end card-body-->
    </div>
    <!-- end card -->

  
   
</div>

<div class="col-xl-2"></div>
</div>